<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light" id="myNavbar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home" id="change-color"><i class="fa-brands fa-apple"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                Store
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>shop</h6></a>
                                        <a class="dropdown-item"><p>Shop the latest</p></a>
                                        <a class="dropdown-item"><p>Mac</p></a>
                                        <a class="dropdown-item"><p>ipad</p></a>
                                        <a class="dropdown-item"><p>iphone</p></a>
                                        <a class="dropdown-item"><p>Apple watch</p></a>
                                        <a class="dropdown-item"><p>Apple vision pro</p></a>
                                        <a class="dropdown-item"><p>Accessories</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">quick links</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">order status</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop special stores</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">certified referbished</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                Mac
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">moe from mac</a>
                                        <a class="dropdown-item">mac support</a>
                                        <a class="dropdown-item">apple care from mac</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                ipad
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>explore ipad</h6></a>
                                        <a class="dropdown-item"><p>expolre All ipad</p></a>
                                        <a class="dropdown-item"><p>all ipad</p></a>
                                        <a class="dropdown-item"><p>ipad</p></a>
                                        <a class="dropdown-item"><p>iphone</p></a>
                                        <a class="dropdown-item"><p>Apple watch</p></a>
                                        <a class="dropdown-item"><p>Apple vision pro</p></a>
                                        <a class="dropdown-item"><p>Accessories</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">quick links</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">order status</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop special stores</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">certified referbished</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                iphone
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">moe from mac</a>
                                        <a class="dropdown-item">mac support</a>
                                        <a class="dropdown-item">apple care from mac</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                watch
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>explore ipad</h6></a>
                                        <a class="dropdown-item"><p>expolre All ipad</p></a>
                                        <a class="dropdown-item"><p>all ipad</p></a>
                                        <a class="dropdown-item"><p>ipad</p></a>
                                        <a class="dropdown-item"><p>iphone</p></a>
                                        <a class="dropdown-item"><p>Apple watch</p></a>
                                        <a class="dropdown-item"><p>Apple vision pro</p></a>
                                        <a class="dropdown-item"><p>Accessories</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">quick links</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">order status</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop special stores</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">certified referbished</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                               vision
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">moe from mac</a>
                                        <a class="dropdown-item">mac support</a>
                                        <a class="dropdown-item">apple care from mac</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                AirPods
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>explore ipad</h6></a>
                                        <a class="dropdown-item"><p>expolre All ipad</p></a>
                                        <a class="dropdown-item"><p>all ipad</p></a>
                                        <a class="dropdown-item"><p>ipad</p></a>
                                        <a class="dropdown-item"><p>iphone</p></a>
                                        <a class="dropdown-item"><p>Apple watch</p></a>
                                        <a class="dropdown-item"><p>Apple vision pro</p></a>
                                        <a class="dropdown-item"><p>Accessories</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">quick links</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">order status</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop special stores</a>
                                        <a class="dropdown-item">find a store</a>
                                        <a class="dropdown-item">certified referbished</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                               Tv & Home
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">moe from mac</a>
                                        <a class="dropdown-item">mac support</a>
                                        <a class="dropdown-item">apple care from mac</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                               Entertaiement
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                               Accessories
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">moe from mac</a>
                                        <a class="dropdown-item">mac support</a>
                                        <a class="dropdown-item">apple care from mac</a>
                                        <a class="dropdown-item">Education</a>
                                        <a class="dropdown-item">Bussiness</a>
                                        <a class="dropdown-item">Veternas and military</a>
                                        <a class="dropdown-item">Government</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link renav-links" id="navbarDropdown1" role="button" aria-haspopup="true"
                                aria-expanded="false">
                               support
                            </a>
                            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown1">
                                <div class="sublinks">
                                    <div class="col" id="first-row">
                                        <a class="dropdown-item"><h6>Explore all mac</h6></a>
                                        <a class="dropdown-item"><p>Explore All Mac</p></a>
                                        <a class="dropdown-item"><p>Mac book air</p></a>
                                        <a class="dropdown-item"><p>Imac</p></a>
                                        <a class="dropdown-item"><p>mac mini</p></a>
                                        <a class="dropdown-item"><p>Mac studio</p></a>
                                        <a class="dropdown-item"><p>Mac pro</p></a>
                                        <a class="dropdown-item"><p>Displays</p></a>
                                    </div>
                                    <div class="col">
                                        <a class="dropdown-item firstone">shop mac</a>
                                        <a class="dropdown-item">shop mac</a>
                                        <a class="dropdown-item">mac accessories</a>
                                        <a class="dropdown-item">apple trade in</a>
                                        <a class="dropdown-item">financing</a>
                                    </div>
                                    <div class="extra"></div>
                                    <div class="extra"></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/notifications" id="change-color"><i
                                    class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/notifications" id="change-color"><i
                                    class="fa-solid fa-bag-shopping"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>