<div class="container-fluid main-footer">
    <div class="row">
        <div class="col-md-12 footer-part">
            <div class="about">
                <p>1. Trade-in values will vary based on the condition, year, and configuration of your eligible
                    trade-in device.
                    Not all devices are eligible for credit. You must be at least 18 years old to be eligible to trade
                    in for
                    credit or for an Apple Gift Card. Trade-in value may be applied toward qualifying new device
                    purchase,
                    or added to an Apple Gift Card. Actual value awarded is based on receipt of a qualifying device
                    matching
                    the description provided when estimate was made. Sales tax may be assessed on full value of a new
                    device
                    purchase. In-store trade-in requires presentation of a valid photo ID (local law may require saving
                    this
                    information). Offer may not be available in all stores, and may vary between in-store and online
                    trade-in.
                    Some stores may have additional requirements. Apple or its trade-in partners reserve the right to
                    refuse
                    or limit quantity of any trade-in transaction for any reason. More details are available from
                    Apple’s
                    trade-in partner for trade-in and recycling of eligible devices. Restrictions and limitations may
                    apply.</p>
                <p>Available in the U.S. on apple.com, in the Apple Store app, and at Apple Stores.</p>
                <p>To access and use all Apple Card features and products available only to Apple Card users,
                    you must add Apple Card to Wallet on an iPhone or iPad that supports and has the latest
                    version of iOS or iPadOS. Apple Card is subject to credit approval, available only for
                    qualifying applicants in the United States, and issued by Goldman Sachs Bank USA,
                    Salt Lake City Branch.</p>
                <p>If you reside in the U.S. territories, please call Goldman Sachs at 877-255-5923 with questions about
                    Apple Card.</p>
                <p>Learn more about how Apple Card applications are evaluated at support.apple.com/kb/HT209218.</p>
                <p>A subscription is required for Apple TV+.</p>
                <p>A subscription is required for Apple Arcade, Apple Fitness+, and Apple Music.</p>
            </div>
            <div class="links">
                <div>
                    <h6>Shop and Learn</h6>
                    <p>Store</p>
                    <p>Mac</p>
                    <p>iPad</p>
                    <p>iPhone</p>
                    <p>Watch</p>
                    <p>Vision</p>
                    <p>AirPods</p>
                    <p>TV & Home</p>
                    <p>Air tag</p>
                    <p>Accessories</p>
                    <p>Gift Cards</p>
                    <h6>Apple Wallet</h6>
                    <p>Wallet</p>
                    <p>Apple Card</p>
                    <p>Apple Pay</p>
                </div>
                <div>
                    <h6>Account</h6>
                    <p>Manage Your Apple ID</p>
                    <p>Apple Store Account</p>
                    <p>iCloud.com</p>
                </div>
                <div>
                    <h6>Entertainment</h6>
                    <p>Apple One</p>
                    <p>Apple TV+</p>
                    <p>Apple Music</p>
                    <p>Apple Arcade</p>
                    <p>Apple Fitness+</p>
                    <p>Apple News+</p>
                    <p>Apple Podcasts</p>
                    <p>Apple Books</p>
                    <p>App Store</p>
                </div>
                <div>
                    <h6>Apple store</h6>
                    <p>Store</p>
                    <p>Mac</p>
                    <p>iPad</p>
                    <p>iPhone</p>
                    <p>Watch</p>
                    <p>Vision</p>
                    <p>AirPods</p>
                    <p>TV & Home</p>
                    <p>Air tag</p>
                    <p>Accessories</p>
                    <p>Gift Cards</p>
                    <h6>Apple Wallet</h6>
                    <p>Wallet</p>
                    <p>Apple Card</p>
                    <p>Apple Pay</p>
                </div>
                <div>
                    <h6>For Bussiness</h6>
                    <p>Apple One</p>
                    <p>Apple TV+</p>
                    <p>Apple Music</p>
                    <p>Apple Arcade</p>
                    <p>Apple Fitness+</p>
                    <p>Apple News+</p>
                    <p>Apple Podcasts</p>
                    <p>Apple Books</p>
                    <p>App Store</p>
                </div>
                <div>
                    <h6>Apple values</h6>
                    <p>Store</p>
                    <p>Mac</p>
                    <p>iPad</p>
                    <p>iPhone</p>
                    <p>Watch</p>
                    <p>Vision</p>
                    <p>AirPods</p>
                    <p>TV & Home</p>
                    <p>Air tag</p>
                    <p>Accessories</p>
                    <p>Gift Cards</p>
                    <h6>Apple Wallet</h6>
                    <p>Wallet</p>
                    <p>Apple Card</p>
                    <p>Apple Pay</p>
                </div>
            </div>
            <div class="footer">
                <p>More ways to shop: Find an Apple Store or other retailer near you. Or call 1-800-MY-APPLE.</p>
                <div>
                    <h6 id="Copyright">Copyright © 2024 Apple Inc. All rights reserved. |</h6>
                    <p>privacy policy |</p>
                    <p>Terms of use |</p>
                    <p>Sales and refunds |</p>
                    <p>Legal |</p>
                    <p>sit map |</p>
                    <p>united states |</p>
                </div>
            </div>
        </div>
    </div>
</div>