<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mainpart">
            <div class="content">
                <h2>Mother's Day</h2>
                <h3>Find the perfect gift for mom</h3>
                <button class="shop-btn">shop</button>
            </div>
        </div>
        <div class="col-md-12 videopart">
            <video autoplay muted loop id="bgVideo">
                <source src="https://www.apple.com/newsroom/videos/media/home/large_2x.mp4" type="video/mp4">
                not available
            </video>
            <div class="video-overlay">
                <h1><i class="fa-brands fa-apple"></i>Vission Pro</h1>
                <h5>You've never seen everything like this before.</h5>
                <div class="btns">
                    <button class="learnmore">learn more</button>
                    <p class="buy">buy</p>
                </div>

            </div>
        </div>
        <div class="col-md-12 thirdpart">
            <div>
                <img src="../../assets/apple3.png" class="apple-img" alt="">
                <h1>Apple Event</h1>
                <h5>watch online on 5/7 at 7am .PT.</h5>
                <button class="learnmore2">learn more</button>
            </div>
        </div>
    </div>
    <div class="row gridrow">
        <div class="col-md-6 m1">
            <div>
                <h1>iphone 15 pro</h1>
                <h5>Titanium.So strong So light So pro</h5>
                <button class="learnmore2">learn more</button>
            </div>
        </div>
        <div class="col-md-6 m2">
            <div>
                <h1>iphone 15</h1>
                <h5>new camera new design newphoria</h5>
                <button class="learnmore2">learn more</button>
            </div>
        </div>
        <div class="col-md-6 m3">
            <div>
                <h1>Watch</h1>
                <h5>smarter brighter mighter</h5>
                <button class="learnmore2">learn more</button>
            </div>
        </div>
        <div class="col-md-6 m4">
            <div>
                <h1>Mac book air</h1>
                <h5>Lean mean w3 mission</h5>
                <button class="learnmore2">learn more</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="col-md-12 carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="../../assets/palmroyal.png" class="d-block w-100 carimgs" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/acapulka.png" class="d-block w-100 carimgs" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/sugar.png" class="d-block w-100 carimgs" alt="...">
              </div>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>